<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardMagic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClipboardMagic.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClipboardMagic.Properties.Settings>
            <setting name="NumClips" serializeAs="String">
                <value>3</value>
            </setting>
        </ClipboardMagic.Properties.Settings>
        <ClipboardMagic.Settings1>
            <setting name="clipboard1" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboard2" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboard3" serializeAs="String">
                <value />
            </setting>
        </ClipboardMagic.Settings1>
    </userSettings>
</configuration>